{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h2 class="text-center">Contact Us</h2>

        <!--tema member-->
        <div class="mt-4">
            <h4>Team Members</h4>
            <ul class="list-group">
                <li class="list-group-item">Suzal Aggarwal (2421428)</li>
              
            </ul>
        </div>

        <!--feedback form-->
        <div class="mt-4">
            <h4>Feedback</h4>
            <p>If you have any feedback, feel free to reach out to us by filling out the feedback form!</p>
            <!--link of form-->
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdG9eGZVNfUviD82d1N0tmmWFsj-8N7e7aaSgWeVVnVALVrAg/viewform?usp=dialog" target="_blank" class="btn btn-primary">Go to Feedback Form</a>
        </div>
    </div>
{% endblock %}
